<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的测试</title>
	<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body>
	<div class="a">123</div>
	<div class="b">sdfasfd</div>
	<!-- sdlkfasd -->
	<!-- afdl -->
	<script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
	<script src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>