.a{
	width: 300px;
	height: 200px;
	border:1px solid #ccc;
	background-image: url(../img/number.png);
}
.b{
	width: 300px;
	height: 200px;
	border:1px solid #f00;
	background-image: url(../img/home/e.png);
}
.cccc{
	padding:0;
}